target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea
*.csv
/java/.idea
/python-ml/src/utils/__pycache__
/python-ml/.idea
/python-ml/.idea
python-ml/.idea/vcs.xml
/python-ml/.idea/inspectionProfiles
python-ml/.idea/inspectionProfiles/profiles_settings.xml
/python-ml/src/config/__pycache__
python-ml/data/model.pkl
python-ml/src/learner/__pycache__/__init__.cpython-311.pyc
python-ml/src/learner/__pycache__/learner.cpython-311.pyc
/python-ml/src/evaluation/__pycache__
/python-ml/src/preprocessing/__pycache__
/python-ml/.continue
python-ml/.continue/rules/new-rule.md
/python-ml/src/__pycache__
/python-ml/src/tests/__pycache__
python-ml/.coverage
*.pyc
*.pkl
*.parquet
